$collapsedDetailsHeight: 32px;
$innerHeaderHeight: 32px;
$reportActionsHeight: 56px;
$contentItemHeight: 48px;

$optionHeight: 50px;

.reject-reason-option {
  min-height: $optionHeight;
}

.report-details.page {
  .zoomable-image {
    top: 0px;
    position: absolute;
    width: 100%;
    height: calc(100% - #{$collapsedDetailsHeight});
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  // .left-effect,
  // .right-effect {
  //   position: fixed;
  //   z-index: 9000;
  //   top: 10%;
  //   width: 200px;
  //   height: 80%;
  //   border-radius: 100% 100% 100% 100%;
  //   transition: width 500ms ease-in-out, right 500ms ease-in-out, opacity 500ms ease-in-out;
  //   opacity: .7;

  //   &.hidden {
  //     width: 0px;
  //     right: 0px;
  //     opacity: 0;
  //   }
  // }

  .hazard-banner {
    width: 100%;
    height: $innerHeaderHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    z-index: 1;
  }

  // .right-effect {
  //   right: -140px;
  // }

  // .left-effect {
  //   left: -140px;
  // }

  .report-details-title {
    max-width: calc(100% - 90px);
    // max-width: calc(100% - 138px);
    height: 48px;
    margin: 0px;
    flex-grow: 1;

    div {
      overflow: hidden;
      max-width: 100%;
      height: 24px;
      line-height: 24px;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
    }
  }

  a {
    text-decoration: none;
    color: inherit;

    &::visited {
      color: inherit;
    }
  }

  .report-details-actions {
    width: 48px;
    // width: 96px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .report-details-voting {
    // background-color: purple;
    // opacity: .4;

    position: absolute;
    bottom: 0px;
    width: 100%;
    height: $collapsedDetailsHeight;
    transition: height 0.3s ease-in-out;

    .collapse-icon,
    .report-info {
      margin: 0px 8px;
    }

    .report-info {
      width: calc(100% - 40px);
      display: flex;
      flex-direction: row;
      height: 28px;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      text-transform: uppercase;
    }

    .report-details-voting-inner {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      align-content: center;

      .details-inner-heading {
        flex-direction: row;
        width: 100%;
        height: $innerHeaderHeight;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
      }

      .contents-list,
      .report-actions,
      .reporter-info {
        display: none;
      }
    }

    &.expanded {
      height: 40%;
      // -webkit-backdrop-filter: blur(7px);
      backdrop-filter: blur(7px);

      .report-actions,
      .reporter-info {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
        box-sizing: border-box;
        // border-bottom: 1px solid rgba(255,255,255, 0.2);
        border-top: 1px solid rgba(255, 255, 255, 0.2);

        .reporter-avatar {
          border-width: 2px;
          border-style: solid;
          box-sizing: border-box;
          margin-left: 8px;
          margin-right: auto;
        }

        .role-color-dot {
          margin: 0px 8px;
        }

        .reporter-name-and-scores {
          flex-grow: 1;
          margin: 0px 8px;
        }
      }

      .report-actions {
        position: relative;
        max-height: $reportActionsHeight;
        height: $reportActionsHeight;
        min-height: $reportActionsHeight;
        flex-direction: column;

        .vote-buttons-container {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;

          .long-press-fab {
            margin: 0px 8px;
          }

          .press-to-vote-hint {
            flex-grow: 1;
            text-align: center;
          }
        }
      }

      .reporter-info {
        max-height: $contentItemHeight;
        height: $contentItemHeight;
        min-height: $contentItemHeight;
        display: flex;
        flex-direction: row;
        // box-sizing: border-box;
        // // border-bottom: 1px solid rgba(255,255,255, 0.2);
        // border-top: 1px solid rgba(255,255,255, 0.2);
        margin-bottom: 0px;
        margin-top: auto;
      }

      .contents-list {
        display: block;
        width: 100%;
        //max-height: calc(100% - #{$innerHeaderHeight + $contentItemHeight + $reportActionsHeight});
        overflow-x: hidden;
        overflow-y: auto;
        flex-grow: 1;

        .contents-list-item {
          width: 100%;
          max-width: 420px;
          min-height: $contentItemHeight;
          max-height: $contentItemHeight;
          height: $contentItemHeight;
          box-sizing: border-box;
          // border-bottom: 1px solid;

          .damage-label,
          .measure-label,
          .people-label,
          .resource-label {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            box-sizing: border-box;
            top: 0px;
            position: absolute;
            right: 0px;
            height: $contentItemHeight;
            width: calc(100% - 72px);
            max-width: 400px;
            padding: 0px 8px 0px 0px;
            font-weight: 300;

            span {
              height: $contentItemHeight;
              line-height: $contentItemHeight;
            }
          }
        }
      }

      .contents-list > div:last-child {
        .measure-label {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}
