// /****** THE GOOD STUFF *******/

// /* OK, here's the good stuff. Start with fallback for browsers that don't support -webkit-line-clamp */
// @mixin clampMe {
//   position: relative;
//   height: 32px;
//   overflow: hidden;

//   &:after {
//     content: '';
//     text-align: right;
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     width: 50%;
//     height: 16px;
//     background: linear-gradient(to right, rgba(255, 255, 255, 1) 80%, rgba(#333, 0));
//   }

//   /* Now add in code for the browsers that support -webkit-line-clamp and overwrite the non-supportive stuff */
//   @supports (-webkit-line-clamp: 2) {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     display: -webkit-box;
//     -webkit-line-clamp: 2;
//     -webkit-box-orient: vertical;

//     &:after {
//       display: none;
//     }
//   }
// }

.small-report-card {
  width: 100%;
  height: 100%;
  transition: opacity 300ms ease;
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .report-popup-thumbnail {
    $thumbSize: 94px;
    width: $thumbSize;
    height: $thumbSize;
    min-width: $thumbSize;
    min-height: $thumbSize;
    margin-bottom: auto;
    margin-left: 3px;
    margin-top: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.25);
    position: relative;
    transition: background-image 250ms ease-in-out;

    .hazard-banner {
      position: absolute;
      bottom: 0;
      text-align: center;
      font-size: 10px;
      width: 100%;
      padding: 4px 0;
      text-transform: uppercase;
    }
  }

  .report-popup-info {
    height: 78px;
    margin-bottom: auto;
    // margin-right: 3px;
    margin-top: auto;
    width: calc(100% - 78px);
    display: flex;
    padding: 8px;
    align-items: center;

    $actionWidth: 24px;
    $minInnerElementSize: 20px;

    .actions,
    .content-info,
    .date-votes-validation {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: space-between;
    }

    .content-info,
    .date-votes-validation {
      justify-content: space-between;
    }

    .actions {
      justify-content: space-around;
    }

    .content-info {
      width: calc(63% - #{$actionWidth});
      height: 100%;

      .author,
      .contents {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        width: 100%;
        justify-content: flex-start;

        // .reporter {
        //   font-size: 14px;
        //   // white-space: normal;
        //   max-width: calc(100% - #{$minInnerElementSize});
        //   margin: auto 0 0 6px;
        //   font-weight: 200;
        //   max-height: 100%;
        //   overflow: hidden;
        //   white-space: nowrap;
        //   text-overflow: ellipsis;
        //   //height: $minInnerElementSize;
        // }

        .report-stats {
          font-weight: normal;
          text-transform: uppercase;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;

          .category-icons {
            height: 26px;
            // padding: 0 8px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .ireact-icons,
            .ireact-pinpoint-icons,
            .material-icons {
              margin: 0 4px;
            }
          }
        }
      }

      .author {
        font-weight: 200;
        align-items: flex-start;
        font-size: 12px;
        //font-size: 10px;
        .author-name {
          width: calc(100% - 12px);
        }

        .role-color-dot {
          // margin: 6px 2px 0 2px;
          //margin: 2px 2px 0 2px;
          margin: 3px 4px 0 0px;
        }
        // $lineHeight: 16px;
        // min-height: $lineHeight;
        // line-height: $lineHeight;
        // // height: 2 * $minInnerElementSize;
        // align-items: center;
        // line-clamp: 2;
        // max-height: 2 * $lineHeight;
        // // height: 16px;
        // // text-overflow: ellipsis;
        // // white-space: nowrap;
        // // overflow-x: hidden;

        // font-size: 14px;
        // // white-space: normal;
        // // max-width: calc(100% - #{$minInnerElementSize});
        // // margin: auto 0 0 6px;
        // font-weight: 200;

        // @include clampMe;
        // -webkit-box-orient: vertical;
      }

      .contents {
        height: $minInnerElementSize;
      }
    }

    .date-votes-validation {
      width: 37%;
      height: 100%;

      .date,
      .location {
        font-size: 10px;
        font-weight: 200;
        text-transform: capitalize;
        white-space: nowrap;
        height: $minInnerElementSize;
        line-height: $minInnerElementSize;
      }

      // .votes {
      //   margin-bottom: 8px;
      // }
    }

    .actions {
      width: $actionWidth;
      height: 100%;
    }
  }
}
