@import 'src/style/achievementsAndDrawer.scss';
$drawerHeaderHeight: 100%;
$avatarSize: 96px;
$maxListWidth: 480px;
$className: 'achievements-header';
@mixin centeredListView() {
  width: 100%;
  margin: auto;
  max-width: $maxListWidth;
}
@mixin subHeaderUpperCase() {
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
}
@mixin badgePostioning() {
  position: absolute;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  font-size: 12px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-weight: 500;
  align-content: center;
  justify-content: center;

  &.top-left {
    top: -6px;
    left: -12px;
  }

  &.top-right {
    top: -6px;
    right: -12px;
  }

  &.bottom-left {
    top: 28px;
    left: -12px;
  }

  &.bottom-right {
    top: 28px;
    right: -12px;
  }
}
// .achievements-community.page,
// .achievements-log.page,
// .achievements-personal.page,
.achievements.page {
  width: 100%;
  height: calc(100% - 56px); //bottom bar

  .achievements.page-inner {
    width: 100%;
    height: 100%;
    @include headerWithProgress($className, $drawerHeaderHeight, $avatarSize);
    // @media only screen and (min-device-height: 568px) and (max-device-height: 732px) {
    //   @include headerWithProgress($className, $drawerHeaderHeight, 64px);
    // }
  }
}

.achievements-content-navigation {
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;

  .achievements-content-navigation-item {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    .achievements-content-navigation-item__label {
      font-size: 0.8em;
    }
  }
}

.achievements-content {
  height: 100%;

  .achievements-content__container {
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 104px); //48 + 56
  }

  .achievements-log,
  .badges-list,
  .leaderboard-list,
  .monthlyawards-list,
  .skills-list {
    width: 100%;
    height: 100%;
  }

  .achievements-log {
    // provisional
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills-list {
    display: block;
    overflow-x: hidden;
    box-sizing: border-box;
    overflow-y: auto;

    .skills-list-item {
      width: 100%;
    }

    .skills-list-item-inner {
      width: 100%;

      .inner-label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: 300;

        span:nth-child(1) {
          text-transform: capitalize;
        }
        // span:nth-child(2) {
        //   margin-left: 0;
        //   margin-right: auto;
        // }
      }
    }
  }

  .badges-list {
    .badge-category-list {
      @include centeredListView();

      display: flex;
      flex-wrap: wrap;

      .badge-category-divider,
      .badge-category-subheader {
        align-self: stretch;
      }

      .badge-category-subheader {
        @include subHeaderUpperCase();
      }

      .badge-category-divider {
        margin: 12px 0px 4px !important;
        width: 100%;
      }

      .small-badge {
        // background-color: #555555;
        @include badgePostioning();
        &.bottom-right {
          top: 14vw;
          right: 10px;
        }
      }

      // .badge-category-list-item {
      //   width: 25%;
      //   display: flex;
      //   flex-direction: column;
      //   flex-wrap: nowrap;
      //   align-items: center;
      //   justify-content: space-around;
      //   height: 112px;

      //   .badge-category-list-item__avatar {
      //     position: relative;
      //   }

      //   .badge-category-list-item__label {
      //     max-width: 90%;
      //     text-align: center;

      //     .badge-category-list-item__label-count,
      //     .badge-category-list-item__label-inner {
      //       width: 100%;
      //       white-space: nowrap;
      //       overflow: hidden;
      //       text-overflow: ellipsis;
      //       font-size: 10px;
      //     }
      //   }
      // }
    }
  }

  .leaderboard-list {
    .leaderboard-list__listview {
      @include centeredListView();
    }

    .leaderboard-sub-header {
      @include subHeaderUpperCase();
      justify-content: space-between;
      padding-right: 16px;
    }

    .load-more {
      width: 100%;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .monthlyawards-list {
    .monthlyawards-list__listview {
      @include centeredListView();
      display: flex;
      flex-wrap: wrap;

      .monthlyawards-list-subheader {
        @include subHeaderUpperCase();
        justify-content: space-between;
        padding-right: 16px;
      }

      .small-badge {
        background-color: #555555;
        @include badgePostioning();
      }

      .monthlyawards-list-item {
        width: 33.3%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        height: 136px;

        .monthlyawards-list-item__avatar {
          position: relative;
        }

        .award-title {
          font-size: 12px;
          text-align: center;
        }

        .monthlyawards-list-item__label {
          max-width: 90%;
          text-align: center;

          .monthlyawards-list-item__label-inner {
            line-clamp: 2;
            line-height: 12px;
            max-height: 24px;
          }

          .monthlyawards-list-item__label-count {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .monthlyawards-list-item__label-count,
          .monthlyawards-list-item__label-inner {
            width: 100%;
            font-size: 10px;
          }
        }
      }
    }
  }
}
