@import '.~style/commons.scss';

$headerHeight: 64px;
// $footerHeight: 64px;
$contentItemHeight: 48px;

@mixin detailsContent() {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: pre-wrap;
  box-sizing: border-box;
  &:not(:first-child) {
    border-top: 1px solid rgba(white, 0.3);
  }
  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
  }
}

.level.large {
  margin: 0;

  &.warning,
  &.alert {
    width: 3 * 58px;
    // width: 75%;
    // min-width: 75%;
    // max-width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .box {
      width: 33%;
      height: 100%;
      border: 2px solid;
      box-sizing: border-box;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
    }
  }

  // &.alert {
  //   width: 75%;
  //   min-width: 75%;
  //   max-width: 75%;
  // }
}

.emcomm-details.page {
  // .left-effect,
  // .right-effect {
  //   position: fixed;
  //   z-index: 9000;
  //   top: 10%;
  //   width: 200px;
  //   height: 80%;
  //   border-radius: 100% 100% 100% 100%;
  //   transition: width 500ms ease-in-out, right 500ms ease-in-out, opacity 500ms ease-in-out;
  //   opacity: 0.7;

  //   &.hidden {
  //     width: 0px;
  //     right: 0px;
  //     opacity: 0;
  //   }
  // }

  // .right-effect {
  //   right: -140px;
  // }

  // .left-effect {
  //   left: -140px;
  // }

  a {
    text-decoration: none;
    color: inherit;

    &::visited {
      color: inherit;
    }
  }
}

.emcomm-details-actions {
  // width: 96px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.emcomm-details-body {
  width: 100%;
  background: rgba(white, 0.1);
  flex-grow: 1;
  overflow-y: auto;

  &.alert-or-warning {
    $lineSize: 18px;
    $padding: 16px;

    .detail-field {
      width: 100%;
      padding: $padding;
      @include detailsContent();

      &.emcomm-details-text {
        flex-direction: column;
        align-items: flex-start;

        .text-details-field {
          width: 100%;
          margin-bottom: $padding;
          position: relative;

          &:not(:last-child)::before {
            content: '';
            display: block;
            position: absolute;
            bottom: -8px;
            width: 25%;
            left: 0;
            border-top: 1px solid rgba(white, 0.3);
          }

          .emcomm-details-link,
          .emcomm-details-label {
            font-size: 0.85em;
          }
          .emcomm-details-label,
          .emcomm-details-link,
          .emcomm-details-value {
            margin: 4px 0;
          }

          .emcomm-details-link {
            width: 100%;
            display: inline-block;
            text-overflow: initial;
            word-break: break-all;
            white-space: initial;
          }
        }

        .emcomm-extdata-entry {
          line-height: $lineSize + 4px;
          height: $lineSize + 4px;

          span.emcomm-extdata-key,
          span.emcomm-extdata-value {
            margin: 4px 4px 4px 0px;
          }

          span.emcomm-extdata-value {
            font-size: 0.9em;
          }
        }
      }
    }

    .emcomm-details-body__info {
      flex-direction: column;
      align-items: flex-start;
      height: 4 * ($lineSize + $padding);
    }

    .emcomm-details-body__dates,
    .emcomm-details-body__address {
      height: $lineSize + 2 * $padding;
      flex-direction: row;
      font-size: 14px;
      line-height: $lineSize;
    }

    .emcomm-card__emcdesc {
      display: flex;
      width: 100%;
      height: 100%;
      .emcomm-card__emctype {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;

        .line {
          width: 100%;
          height: $lineSize;
          line-height: 0.9 * $lineSize;
          font-size: 0.9 * $lineSize;
          margin: $padding * 0.25 0;
          &.big {
            line-height: 1.1 * $lineSize;
            font-size: 1.1 * $lineSize;
            margin-top: 0;
            margin-bottom: auto;
          }
        }
      }
      // height: $lineSize;
      // align-items: center;
      // text-transform: uppercase;
    }
  }

  &.report-request {
    .detail-field {
      padding: 8px 16px;
      @include detailsContent();
    }

    .emcomm__address,
    .emcomm__dates {
      $fs: 12px;
      font-size: $fs;
      line-height: 2 * $fs;
      min-height: 2 * $fs;
      // overflow-x: hidden;
    }

    .emcomm__content-type {
      padding: 8px 24px;
      // text-transform: uppercase;

      &.measure {
        flex-flow: column;
        padding-right: 0;

        .header-line {
          display: flex;
          line-height: 32px;
          width: 100%;
          overflow-x: hidden;
          white-space: nowrap;

          .measures-count {
            width: 1em;
            max-width: 1em;
          }

          .measures-header {
            margin-left: 8px;
            border-bottom: 1px solid;
            box-sizing: border-box;
            width: calc(100% - 1em);
            display: inline-block;
          }
        }

        .measures-list {
          padding: 8px 0;
          width: 100%;

          .measure-item {
            display: flex;
            align-items: center;
            padding: 8px 0;
            line-height: 32px;
            text-transform: capitalize;
          }
        }
      }

      &.damage,
      &.people,
      &.resource {
        align-items: center;
      }
    }
  }
}

.emcomm__organization,
.emcomm__receivers {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border-top: 1px solid rgba(white, 0.3);

  span {
    margin: 0 4px;

    &.emcomm__organization-avatar {
      margin: 0 8px 0 0;
    }
  }
}

.emcomm__receivers {
  justify-content: space-between;

  span:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.emcomm__organization-avatar {
  @extend .ireact-org-avatar;
}
