$titleHeight: 64px;
$bottomBarHeight: 48px;
$max-width: 340px;
@mixin exactHeight($h) {
  height: $h;
  min-height: $h;
  max-height: $h;
}

.new-report {
  .new-report__picture-preview {
    position: relative;
    width: 100%;
    height: 40%;
    background-color: #000;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  a,
  a:-webkit-any-link {
    &,
    &:focus,
    &:visited {
      text-decoration: none;
      color: inherit;
    }
  }

  .new-report__date {
    position: absolute;
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .new-report__body_full {
    width: 100%;
    height: calc(100% - #{$titleHeight});
  }

  .new-report__actions {
    width: 100%;
    height: calc(60% - #{$titleHeight});

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;

    .line {
      margin: 0 auto;
      width: 100%;
      max-width: $max-width;

      span.info {
        font-size: 12px;
        padding: 0 8px;
      }

      .action-button {
        margin: 1em 0;
        display: block;
      }

      &.center {
        text-align: center;
      }

      &.horizontal-list {
        display: flex;
        flex-wrap: wrap;

        .hazard-selection-list-item {
          width: 33%;
          height: 100px;
          align-self: stretch;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
        }
      }
    }
  }

  .hazard-selection-list-item__label {
    width: 100%;

    .hazard-selection-list-item__label-inner {
      white-space: nowrap;
      text-align: center;
      text-overflow: ellipsis;
      font-size: 0.9em;
      overflow-x: hidden;
    }
  }

  .new-report-value.page-inner {
    width: 100%;
    height: calc(100% - #{$bottomBarHeight});
  }

  .new-report-value.bottom-toolbar {
    position: absolute;
    bottom: 0;
    width: calc(100% - 16px);
    padding: 0 8px;
    height: $bottomBarHeight;
    max-height: $bottomBarHeight;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
  }

  .content-value-header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 3;
    flex-direction: column;
    position: relative;

    .content-value-header-title {
      height: 48px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .content-info {
      width: 100%;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .content-selection {
        padding: 4px;
      }

      .content-type-resume {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 4px;
      }
    }
  }

  .listview {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &.measures-content-list {
      .radio-group {
        display: flex;
        align-items: flex-start;
        align-content: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        padding: 16px 0;
        flex-wrap: wrap;
      }
    }

    .damage-options-list,
    .resource-options-list {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      box-sizing: border-box;

      &:not(:last-child) {
        border: 1px solid rgba(white, 0.4);
      }

      .damage-options-list__subheader,
      .resource-options-list__subheader {
        width: 100%;
      }

      .damage-options-list__item,
      .resource-options-list__item {
        width: 33%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        box-sizing: border-box;
        // border: 1px solid;
        & > * {
          margin: 8px 0;
        }
      }

      .item-label {
        max-width: 90%;
        width: 90%;

        .degree-label,
        .name-label {
          height: 14px;
          width: 100%;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-size: 12px;
        }
      }
    }
  }
}
