@mixin headerWithProgress($className: 'app-drawer', $drawerHeaderHeight: 30%, $avatarSize: 96px) {
  .#{$className}__header {
    width: 100%;
    height: $drawerHeaderHeight;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;

    .#{$className}__header-avatar-container {
      position: relative;
      flex-grow: 3;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .avatar,
      .rank-indicator,
      .score-indicator {
        flex-grow: 1;
      }

      .avatar-circle {
        position: relative;
        width: $avatarSize;
        height: $avatarSize;
        border-radius: 100%;
        background-color: transparent;

        .avatar {
          position: absolute;
          background-repeat: no-repeat;
          // background-position: center top;
          background-position-x: center;
          background-position-y: 75%;
          background-size: 85%;
          border-radius: 100%;
          background-color: transparent;
          width: $avatarSize;
          height: $avatarSize;
          z-index: 1;
        }

        &::before {
          content: '';
          position: absolute;
          background: #ff5722; // deepOrange500
          width: 72%;
          height: 72%;
          bottom: 1px;
          left: 13.5%;
          border-radius: 100%;
          z-index: 0;
        }
      }

      // .avatar {
      //   position: relative;
      //   background-repeat: no-repeat;
      //   background-position: center top;
      //   background-size: 85%;
      //   // background-position: center;
      //   // background-size: contain;
      //   width: $avatarSize;
      //   height: $avatarSize;
      //   border-radius: 100%;
      //   background-color: transparent;
      // }

      .rank-indicator,
      .score-indicator {
        min-width: calc(50% - #{$avatarSize / 2});
        max-width: calc(50% - #{$avatarSize / 2});
        width: calc(50% - #{$avatarSize / 2});
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .#{$className}__header-avatar-name-line {
      flex-grow: 1;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
      &.pro {
        justify-content: space-evenly;
        font-size: 14px;
        div {
          height: 16px;
          line-height: 16px;
          white-space: nowrap;
          max-width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .orgs-line {
          font-size: 16px;
          font-weight: 800;
        }

        .teams-line {
          font-size: 12px;
        }
      }
    }

    .#{$className}__header-progress-container {
      flex-grow: 2;
      padding: 0px;
      margin: 8px 0px;
      width: 90%;
      max-width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;

      .progress-bar {
        position: absolute;
        top: 4px;
      }

      .progress-label {
        position: absolute;
        bottom: 4px;
        font-size: 12px;
        top: 1em;
        z-index: 99;

        @media only screen and (min-device-height: 568px) and (max-device-height: 640px) {
          bottom: 2px;
          font-size: 10px;
        }

        &.right {
          right: 0;
          // bottom: 0;
        }

        &.left {
          left: 0;
          // bottom: 0;
        }
      }
    }
  }
}
@mixin drawerBody($className: 'app-drawer', $drawerHeaderHeight: 30%, $avatarSize: 96px) {
  .#{$className}__body {
    width: 100%;
    height: 100% - $drawerHeaderHeight;
    overflow-x: hidden;

    .#{$className}__body-label {
      max-width: 50vw;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
