.ireact-org-avatar {
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  // Fallback logo
  background-color: white;
  // background-image: url('~assets/logo/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.left-effect,
.right-effect {
  position: fixed;
  z-index: 9000;
  top: 10%;
  width: 200px;
  height: 80%;
  border-radius: 100% 100% 100% 100%;
  transition: width 500ms ease-in-out, right 500ms ease-in-out, opacity 500ms ease-in-out;
  opacity: 0.7;

  &.hidden {
    width: 0px;
    right: 0px;
    opacity: 0;
  }
}

.right-effect {
  right: -140px;
}

.left-effect {
  left: -140px;
}

.app-modal-body {
  height: auto;
  // height: calc(70vh - 76px);
}
