$roboto-font-path: '~roboto-fontface/fonts';
@import '~roboto-fontface/css/roboto/sass/roboto-fontface.scss';

$mdi-font-path: '~@mdi/font/fonts';
// @import '~@mdi/font/scss/materialdesignicons';
@import '~@mdi/font/scss/_variables';
@import '~@mdi/font/scss/_functions';

@font-face {
  font-family: '#{$mdi-font-name}';
  src: url('#{$mdi-font-path}/#{$mdi-filename}-webfont.woff2?v=#{$mdi-version}') format('woff2'),
    url('#{$mdi-font-path}/#{$mdi-filename}-webfont.woff?v=#{$mdi-version}') format('woff');
  font-weight: normal;
  font-style: normal;
}

// @import '~@mdi/font/scss/_path';
@import '~@mdi/font/scss/_core';
@import '~@mdi/font/scss/_icons';
@import '~@mdi/font/scss/_extras';
@import '~@mdi/font/scss/_animated';

$flag-icon-css-path: '~flag-icon-css/flags';
@import '~flag-icon-css/sass/_variables.scss';
@import '~flag-icon-css/sass/_flag-icon-base.scss';
@import './transitions.scss';
@import './commons.scss';

// all those supported by https://www.meteoalarm.eu/, although the UI only supports de en es fr fi it
$supported-ui-languages: bg bs cz da de ee en es es es fi fr gr he hr hu is it lt lv me mk mt nl no
  pl pt ro rs se sk sl va;
@each $lang in $supported-ui-languages {
  @if ($lang == da) {
    @include flag-icon('dk');
  } @else if ($lang == se) {
    @include flag-icon('sv');
  } @else if ($lang == he) {
    @include flag-icon('il');
  } @else if ($lang == en) {
    @include flag-icon('gb');
  } @else {
    @include flag-icon($lang);
  }
}
.flag-icon-da {
  // Danemark
  @extend.flag-icon-dk;
}
.flag-icon-se {
  // Sweden
  @extend.flag-icon-sv;
}
.flag-icon-he {
  // Israel
  @extend.flag-icon-il;
}
.flag-icon-en {
  // UK
  @extend.flag-icon-gb;
}
@font-face {
  font-family: 'ireact-icons';
  src: url('../assets/fonts/ireact-icons-v3.ttf?9b7kuf') format('truetype'),
    url('../assets/fonts/ireact-icons-v3.woff?9b7kuf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ireact-pinpoint';
  src: url('../assets/fonts/ireact-pinpoint-v4.ttf?9b7kuf') format('truetype'),
    url('../assets/fonts/ireact-pinpoint-v4.woff?9b7kuf') format('woff');
  // src: url('../assets/fonts/Ireact-pinpoint.ttf?9b7kuf') format('truetype'),
  //   url('../assets/fonts/Ireact-pinpoint.woff?9b7kuf') format('woff');
  font-weight: normal;
  font-style: normal;
}

// See {owncloud}//I-REACT/Working/WP5/MockUps/mockup_appmobile_Scienseed_ISMB/Ongoing%20designs/icons%2005_03/ireact-icons/demo.html
// for icon codes
.ireact-icons,
[class*=' ireact-icons-'],
[class^='ireact-icons-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ireact-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// See {owncloud}/I-REACT/Working/WP5/MockUps/mockup_appmobile_Scienseed_ISMB/Ongoing%20designs/icons%2005_03/Ireact-pinpoint/demo.html
// for icon codes
.ireact-pinpoint-icons,
[class*=' ireact-icons-'],
[class^='ireact-icons-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Ireact-pinpoint' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ireact-icons,
.ireact-pinpoint-icons {
  font-size: 24px;
  line-height: 24px;
}

html,
body {
  color: rgb(255, 255, 255);
  background-color: rgb(48, 48, 48);
}

body {
  font-family: Roboto;
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  .app {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;

    .navigator {
      .routes {
        width: 100%;
        height: 100%;
      }
    }
  }
}

* {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: #a0a0a0;
    border: 0 none #ffffff;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb:active {
    background: #000000;
  }

  &::-webkit-scrollbar-track {
    background: #666666;
    border: 0 none #ffffff;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track:hover {
    background: #666666;
  }

  &::-webkit-scrollbar-track:active {
    background: #333333;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

a {
  &,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

//DEBUG ONLY with platform browser
.cordova-camera-capture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  button {
    color: white;
    font-size: 1em;
    text-align: center;
    background: darkgreen;
    outline: none;
    border: none;
    border-radius: 100%;
    height: 100px;
    width: 100px;
  }
}

.page {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.transition-wrapper {
  // width: 100%;
  position: relative;
}

.tab-link {
  align-self: stretch;
  text-decoration: none;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  opacity: 0.7;

  &.active {
    opacity: 1;
  }

  &:active,
  &:any-link,
  &:hover,
  &:link,
  &:visited {
    color: inherit;
  }
}

.list-view {
  &.no-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}

input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #303030 inset;
  -webkit-text-fill-color: chartreuse !important;
}

.role-color-dot {
  $size: 8px;
  margin: 2px;
  display: inline-block;
  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;
  max-width: $size;
  max-height: $size;
}

div[aria-label='grid'] {
  &,
  &:focus,
  &:active {
    outline: none !important;
  }
}

.soc-geo-autocomplete-popover {
  left: 8px !important;
}

.geonames-superselect-popover {
  top: 8px !important;
  // left: 2.5vw !important;
}

.title-logo.demo,
.login-logo.demo {
  &::after {
    content: 'DEMO';
    position: absolute;
    bottom: 0px;
    background: limegreen;
  }
}

.title-logo.demo {
  &::after {
    right: 0;
    padding: 0 2px;
    font-size: 12px;
  }
}

.login-logo.demo {
  &::after {
    left: 50%;
    padding: 2px 4px;
    font-size: 1em;
  }
}
