.tweets-list-filters,
.tweets-list-header {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweets-list-filters {
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.tweets-list-filters {
  .filter-cbx-label {
    position: relative;
    z-index: 10;
    left: -12px;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.tweets-list-header {
  .tweets-list-header__item {
    margin: 0 4px;
  }
}

.tweets-list {
  width: 100%;
  height: calc(100% - 96px);
}
