@import 'src/style/achievementsAndDrawer.scss';
$drawerHeaderHeight: 30%;
$avatarSize: 96px;

$className: 'app-drawer';
@include headerWithProgress($className, $drawerHeaderHeight, $avatarSize);
@include drawerBody($className, $drawerHeaderHeight, $avatarSize);
